* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* căn giữa tất cả */
#container {
    max-width: 100%;
    margin: 0 auto;
}

/* dãn dòng chữ  */
p,
h2 {
    line-height: 1.8;
}

/* CSS phần header */

/* phần nền, chiều cao header */
#header {
    max-width: 100%;
    height: 80px;
    background-color: #333;
    font-size: 1.2rem;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
}

/* Phần menu, danh sách ul */
#header-menu {
    width: 1200px;
    margin: 0 auto;

}

/* chữ hiển thị trên 1 hàng */
.header-menu__item {
    display: inline-block;
}

/* Chỉnh text ở menu, bỏ gạch chân, đổi màu, căn giữa */
.header-menu__item--link {
    color: #fff;
    text-decoration: none;
    line-height: 80px;
    padding: 0 24px;
    display: block;
}

/* icon navbar khi kích vào thanh menu hiện ra */
.header-mobile__button {
    float: right;
    padding: 0 25px;
    font-size: 30px;
    line-height: 80px;
    color: #fff;
    display: none;
}


/* Phần main */
#main {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 105px;
}


/* title */
#title {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Phần ảnh avatar */
#title-image {
    width: 33.333%;
    padding: 50px 10px;
    text-align: center;
    border: 2px solid transparent;
    background-image: linear-gradient(to top, #ff6968, #cf2128);
    box-shadow: 2px 2px 2px rgba(132, 132, 132, 0.453);
    border-radius: 8px;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: transform;
}

/* Khi hover vào ảnh avatar */
#title-image:hover {
    transform: translateY(-10px);
    background-image: linear-gradient(to top, #e94e4e, #b40006);
}

/* Phần text title, tên, tuổi */
#title-image__text {
    color: #fff;
    font-size: 1.4rem;
}

#title-image__text h2 {
    padding: 15px;
}

/* kích thước, bo ảnh avatar thành hình tròn */
#title-image__avatar {
    border-radius: 50%;
    width: 70%;
    border: 3px solid #fff;
}

/* Phần chữ xin chào, tôi là Hoa */
#title-info {
    width: 70%;
    text-align: center;
    padding: 50px;
    font-size: 1.7rem;
    line-height: 1.5;
}

.title-info__text2 {
    font-size: 1.2rem;
    margin-top: 30px;
    text-align: justify;
}

.title-info__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* CSS phần button title */
.title-info__btn--text {
    padding: 8px 35px;
    background-image: linear-gradient(to top, #ff6968, #cf2128);
    margin: 40px;
    border-radius: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transition-property: transform;
    animation-name: color;  
    animation-duration: 1s;
    animation-iteration-count:infinite;
}

@keyframes color {
    from {
      background-image: linear-gradient(to top, #ff6968, #cf2128);
  }  to {
      background-image: linear-gradient(to top, #e94e4e, #b40006);
  }
}

/* khi hover vào button đổi màu */
.title-info__btn--text:hover {
    transform: translateY(-10px);
    background-image: linear-gradient(to top, #be2323, #b40006);
}

/* Phần info */

/* css phần khung, nền */
#info {
    box-shadow: 2px 2px 12px rgba(132, 132, 132, 0.453);
    padding: 20px 40px;
    margin-top: 40px;
    border-radius: 8px;
}

#info-text {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}


/* css phần design */
#design {
    font-size: 1.2rem;
    margin-top: 40px;
}
.design-heading {
    padding: 0 40px;
}
.design-img {
    column-count: 3;
    /* text-align: center; */
    /* column-gap: 10px; */
}
.design-img__item {
    width: 100%;
    break-inside: avoid;
    margin-top: 12px;
}

/* Css phần skill, kỹ năng */
#skill {
    font-size: 1.2rem;
    margin-top: 40px;
}

.skill-ds

#skill-text__heading {
    padding: 0 40px;
}

.skill-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.skill-card {
    position: relative;
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 4px;
}

.skill-card:hover {
    transform: translateY(-10px);
}

.skill-card__text {
    margin-top: 30px;
}

.skill-card__box--percent {
    position: relative;
    width: 160px;
    height: 160px;
    z-index: 1000;
}

/* phần số ở giữa hình tròn */
.skill-card__box--number {
    position: absolute;
    top: 12px;
    left: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.number-text {
    /* font-size: 30px;
    transition: 0.5s; */
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}

/* khi hover vào card thì chữ phóng to */
.skill-card:hover .number-text {
    color: rgb(236, 35, 34);
    font-size: 50px;
}


.skill-svg {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 1000;
}

.card-circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: #333;
    stroke-width: 20;
    stroke-linecap: round;
    transform: translate(15px, 15px);
}

.skill-card__text {
    position: relative;
    font-size: 24px;
    transition: 0.5s;
    text-transform: uppercase;
}


/* tính phần màu cam chạy theo % */
#card-circle2 {
    stroke-dasharray: 440;
    stroke: #ec2322;
    stroke-dashoffset: calc(440 - (440 *85) /100);
}

#card-circle4 {
    stroke-dasharray: 440;
    stroke: #ec2322;
    stroke-dashoffset: calc(440 - (440 *75) /100);
}

#card-circle6 {
    stroke-dasharray: 440;
    stroke: #ec2322;
    stroke-dashoffset: calc(440 - (440 *45) /100);
}

/* CSS phần company */
#company {
    background-color: #333;
    border-radius: 8px;
    margin-top: 40px;
    padding: 40px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.company-logo {
    text-align: center;
}

.company-text {
    color: #fff;
    margin-bottom: 30px;
}

#company-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    grid-gap: 0 20px;
}

.company-card__text {
    margin-bottom: 15px;
}

.company-card__text h3 {
    margin-bottom: 10px;
}

/* phần card, chỉnh các item căn theo cột */
.company-card__item {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* phần button xem chi tiết */
.company-btn {
    margin-top: auto;
    margin-bottom: 0;
    padding: 8px;
    background: #ccc;
    border-radius: 10px;
    color: #333;
    font-weight: 700;
    font-size: 25px;
    cursor: pointer;
    text-transform: uppercase;
}

.company-btn:hover {
    background-image: linear-gradient(to top, #ff6968, #cf2128);
    color: #fff;
}

#company-logo__img {
    width: 30%;
    margin-bottom: 30px;
}

/* footer */
#footer {
    /* width: 100vw; */
    max-width: 100%;
    background-color: #333;
    font-size: 1rem;
    margin-top: 20px;
}

#footer-info {
    display: flex;
    width: 1200px;
    justify-content: center;
    text-decoration: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: center;
    color: #fff;
}

#footer-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#footer-text {
    width: 50%;
}

.icon_image {
    width: 30px;
    margin: 0 20px;
}


/* CSS phần card chung, khi click vào button card này mới hiện lên */
.card {
    align-items: center;
    justify-content: center;
    display: flex;
}

.js-card {
    position: relative;
    display: flex;
    justify-content: space-around;
    z-index: 50000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
    display: none;
}

.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: modalFadeIn ease 0.5s;
}

h2 {
    padding-bottom: 16px;
}

.card-info__content {
    position: relative;
    width: 70%;
    min-height: 100px;
    height: 90%;
    padding: 50px;
    text-align: justify;
    background: #fff;
    box-shadow: 0 2px 4px 2px rgb(112, 112, 112, 0.5);
    line-height: 1.5;
    display: flex;
    overflow: auto;
}

.card-info__title {
    margin-bottom: 20px;
}

.card-info__text h2 {
    margin-top: 30px;
}

.card-info__title h2 {
    margin-top: 20px;
}

.card-info__text--end {
    padding-bottom: 40px;
}

.icon__close {
    position: absolute;
    width: 20px;
    height: 24px;
    cursor: pointer;
    color: #000;
    right: 3%;
    top: 3%;
}

.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}



/* Phần responsive */

/* PC */
@media (mix-width: 1024px) {}

/* tablet & mobile*/
@media (max-width: 1023px) {
    html {
        font-size: 110%;
    }

    #main {
        padding: 20px;
    }

    #timeline {
        padding: 20px;
    }
    #header {
        
    }
    .header-menu__item {
        display: block;
    }

    .header-mobile__button {
        display: block;
    }

    .card-info__title h2 {
        text-align: center;
    }

    #title {
        display: block;
    }

    #title-image {
        width: 100%;
        margin-bottom: 30px;
    }

    #title-info {
        width: 100%;
        padding: 10px;
    }

    #company-logo__img {
        width: 50%;
    }

    .company-info__heading {
        text-align: center;
    }

    .company-card__item {
        margin-top: 30px;
    }

    #footer-info {
        width: 100%;
        display: block;
        text-align: center;
    }

    #footer-text,
    #footer-icon {
        width: 100%;
        margin-bottom: 20px;
    }

    .card-info__content {
        width: 100%;
        padding: 25px;
        min-height: 100px;
        overflow: auto;
    }
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #company-card {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 20px;
    }

    .card-info__content {
        margin: 20px 15px;
        height: 70%;
    }
}

/* mobile */
@media (max-width: 739px) {
    .title-info__text1 {
        text-align: justify;
    }

    .title-image__text {
        font-size: 1.2rem;
    }

    .title-info__btn {
        display: block;
    }
    
    .design-img {
        column-count: 2;
        /* text-align: center; */
        /* column-gap: 10px; */
    }
    .design-img__item {
        width: 100%;
        break-inside: avoid;
        margin-top: 12px;
    }

    .skill-info {
        display: block;
    }

    .skill-card {
        width: 100%;
        /* display: block; */
    }

    .company-text,
    .company-logo h2 {
        text-align: justify;
    }

    #company-card {
        display: block;
    }

    .card-info__content {
        height: 100%;
    }
}